output {
    if([env]){
        elasticsearch {
            hosts => {{ logstash_elasticsearch_hosts | to_json }}
            index => "%{env}-%{+YYYY.MM}"
        }
    }
    else {
        elasticsearch {
            hosts => {{ logstash_elasticsearch_hosts | to_json }}
            index => "%{+YYYY.MM}"
        }
    }
}